@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(93deg, rgba(255, 255, 255, 0.21) 35.02%, rgba(249, 253, 250, 0.20) 36.38%, rgba(223, 244, 230, 0.18) 41.97%, rgba(15, 170, 70, 0.00) 87.43%);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: text-decoration 0.3s;
}

nav ul li a:hover {
    color: #ff5c11 !important;
    text-decoration: underline;

}

.btn_register {
    display: flex;
    align-items: center;
    padding: 12px 21px;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background: #ff5344;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero container */

.content {
    margin-top: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_span {
    color: #f88424;
}

.content_alice {
    color: #000;
    font-family: Alice;
    font-size: 16px;
    font-size: normal;
    font-weight: 400;
    padding-top: 20px;
    line-height: normal;
}

.content h1 {
    color: #000;
    font-family: Alice;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content form {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15%;
}

input[type=text] {
    border: 1px solid rgb(228, 228, 288) !important;
    padding: 20px;
    border-radius: 12px 0px 0px 12px;
}

.content form input {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    /* broder-color:1px solid red; */
}

.button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_sec {
    display: flex;
    align-items: center;
    padding: 23px 40px;
    border: 0;
    outline: 0;
    border-radius: 0px 6px 6px 0px;
    background: #FF5344;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}

.image {
    margin-top: 10px;
    height: 80vh;
}